@import "~bootstrap/scss/bootstrap";

.left-message {
    border-radius: 20px 20px 20px 0;
}

.right-message {
    border-radius: 20px 20px 0 20px;
    text-align: right; 
    float: right;
}

.message-body {
    height: 75vh;
    overflow-y: auto;
}